		<main class="mas-content page-not-found" role="main">
			<section class="intro picture-header">
				<div class="container">
					<div class="text col-sm-8 offset-sm-2">
						<h1>404!</h1>
						<h2>The page you want is trapped in the Matrix.</h2>
						<p>Searching the mighty <strong>Marshall Art Studio</strong> server has regretfully been unfruitful. Your desired content probably has a new home, or has yet to be uploaded to our newly renovated site. If you can't find what you're looking for with the navigation, please <a href="../mailto:dmarshall@illdave.com?subject=Marshall Art Studio: Page Not Found">send me an email</a> with the details. Thanks for your understanding.</p>
						<p>
							<a class="btn icon learn-more" href="https://www.illdave.com" role="button">Home page <i class="fas"></i></a>
						</p>
					</div>
				</div>
			</section>
		</main>
