		<footer>
			<div class="text">
				<p>
					Copyright &copy; 1986-<script>document.write(new Date().getFullYear())</script> Marshall Art Studio. All rights reserved. The material may not, under any circumstances, be resold or redistributed for compensation of any kind without prior written permission from Marshall Art Studio nor may the information be used in any commercial venue without such prior written permission. For more information, please <a href="mailto:dmarshall@illdave.com?subject=Tell me about Marshall Art Studio!" aria-label="email address of Marshall Art Studio">contact us here</a>. Version 8.0.1
				</p>
				<div class="social">
					<ul class="list-inline">
						<li class="follow-me d-none d-sm-inline-block">Follow me on </li>
						<li class="email"><a href="mailto:dmarshall@illdave.com?subject=Tell me about Marshall Art Studio!" aria-label="email address of Marshall Art Studio"><span>Email</span></a></li>
						<li class="linkedin"><a href="https://www.linkedin.com/in/illdave" target="_blank" rel="noopener noreferrer" aria-label="the David Marshall's Linkedin page"><span>Linkedin</span></a></li>
						<li class="twitter"><a href="http://twitter.com/MarshallArtDave" target="_blank" rel="noopener noreferrer" aria-label="the Twitter account I use the most"><span>Twitter</span></a></li>
						<li class="github"><a href="https://github.com/illdave" target="_blank" rel="noopener noreferrer" aria-label="Github account of Marshall Art Studio"><span>Github</span></a></li>
					</ul>
				</div>
				<p class="back-to-top sr-only sr-only-focusable">
					<a href="#main-content">Back to top<i class="fas"></i></a>
				</p>
			</div>
		</footer>
