		<header class="main-navigation fixed-top" role="banner">
			<div class="navbar navbar-expand-lg">
				<a class="navbar-brand" routerLink="/home" target="_top" aria-label="marshall-art-studio">
					Marshall Art Studio
					<span class="mas-logo gliff"></span>
					<span class="mas-logo type"></span>
				</a>
				<button class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#main-menu"
					aria-controls="main-menu"
					aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						<span class="sr-only">Toggle menu navigation</span>
					</span>
				</button>
				<div class="collapse navbar-collapse justify-content-end" id="main-menu">
					<ul class="navbar-nav bd-navbar-nav d-flex">
                        <li class="nav-item about">
                            <a class="nav-link" routerLink="/restful-api" routerLinkActive="active-link">RESTful API</a>
                        </li>
                        <li class="nav-item about">
                            <a class="nav-link" routerLink="/about" routerLinkActive="active-link">About</a>
                        </li>
					</ul>
				</div>
			</div>
		</header>


