/* home ------------------------------- */

.home {
	padding-bottom: 0;
	section {
		&.picture-header {
			.image {
				background-image: url("#{$image-path}/dave-chin-pose-1.jpg");
			}
		}
		&.skills {
			padding: 0;
			min-height: 0;
			.item {
				background: transparent center center;
				background-size: cover;
				text-align: center;
				min-height: 20rem;
				padding: 2rem 4rem;
				margin: 0;
				display: flex;
				flex-flow: column wrap;
				align-items: center;
				justify-content: center;
				.text {
					p {
						text-align: center;
						&.btn-row {
							margin-bottom: 0;
						}
					}

				}
			}
		}
	}
}


