		<main class="mas-content home" role="main">
			<section class="intro picture-header">
				<div class="row g-0">
					<div class="col-12 col-sm-6">
						<div class="image"></div>
					</div>
					<div class="col-12 col-sm-6">
						<div class="text">
							<h1>Hello</h1>
							<p>I'm primarily a front-end web developer focused on responsive design, cross-browser compatibility, and web accessability. I also have tons of experience in brand development, visual design, and illustration. I'm currently working as a freelancer in the Boston area. Details matter, and <a href="https://www.theguardian.com/tv-and-radio/2013/jun/13/sandbaggers-box-set-review" target="_blank" rel="noopener noreferrer" class="tv-show-title">The Sandbaggers</a> is the greatest espionage TV series ever made; Google now, thank me later.</p>
							<p class="btn-row">
								<a class="btn btn-lg icon learn-more" href="about/index.htm" role="button" aria-label="background info on Marshall Art Studio">Learn more <i class="fas"></i></a>
							</p>
						</div>
					</div>
				</div>
			</section>
			<section class="skills">
				<div class="row g-0">
					<div class="col-12 col-md-3">
						<div class="item web-dev">
							<div class="text">
								<h2>Web Dev & Design</h2>
								<p>Front-end developer with strong sense of user interface and experience design.</p>
								<p class="btn-row">
									<a class="btn icon learn-more" href="web-dev/index.htm" role="button" aria-label="web development and design by David Marshall">Learn more <i class="fas"></i></a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-3">
						<div class="item graphic-design">
							<div class="text">
								<h2>Graphic Design</h2>
								<p>Creating of innovative visual design solutions for advertising, marketing, and educational clients.</p>
								<p class="btn-row">
									<a class="btn icon learn-more" href="graphic-design/index.htm" role="button" aria-label="graphic design by David Marshall">Learn more <i class="fas"></i></a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-3">
						<div class="item illustration">
							<div class="text">
								<h2>Illustration</h2>
								<p>Traditional and digital media in multiple styles, creative expression and technical precision.</p>
								<p class="btn-row">
									<a class="btn btn-primary icon learn-more" href="illustration/index.htm" role="button" aria-label="illustration by David Marshall">Learn more <i class="fas"></i></a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-3">
						<div class="item comic-books last-child">
							<div class="text">
								<h2>Comic Books</h2>
								<p>Enhancing content with brand awareness, graphic design, logos, editing, marketing, and production.</p>
								<p class="btn-row">
									<a class="btn icon learn-more" href="comics/index.htm" role="button" aria-label="comic books by David Marshall">Learn more <i class="fas"></i></a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
